# VS Code
.vscode/

# Logs
*.log
**/supervisord.log

# Process IDs
*.pid
**/supervisord.pid

# Environment files
.env
.env.*
*.env

.DS_Store
__pycache__/
vendor/
.phpunit.result.cache
presentations/*.pdf